@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Background Workers</h1>
    <h3>Orders Worker</h3>
    <h3>Show Worker</h3>
    <h3>Payment Worker</h3>
    <h3>NBG Currency Worker</h3>
</div>
